h1= t('admin.dictionary.languages.words.index.add_new_word')

== render 'form', path: path, phrase_header_title: t('admin.dictionary.languages.words.index.add_new_word'), btn_title: t('sessions.create')

= link_to t('activerecord.devise.shared.links.back'), admin_language_words_path
