.drag-image-container[id="#{dom_id(item, :image)}" data-remote-link="#{teach_task_item_path(task, item)}" data-xoffset='0'
  data-yoffset='0' style='top: #{item.top}%; left: #{item.left}%; width: #{item.width}%; height: #{item.height}%; border-radius: 10px;']
  span= idx + 1
  .image-object-resizer
