= favicon_link_tag 'favicons/android-chrome-192x192.png', sizes: '192x192', rel: 'icon', type: 'image/png'
= favicon_link_tag "favicons/apple-touch-icon.png", rel: 'apple-touch-icon', type: 'image/png', sizes: '180x180'
= favicon_link_tag "favicons/favicon-32x32.png", rel: 'icon', type: 'image/png', sizes: '32x32'
= favicon_link_tag "favicons/favicon-16x16.png", rel: 'icon', type: 'image/png', sizes: '16x16'
= favicon_link_tag "favicons/safari-pinned-tab.svg", rel: 'mask-icon', color: '#00a5d7'
= favicon_link_tag 'favicons/favicon.ico', rel: 'icon'

meta content="Lingu" name="apple-mobile-web-app-title"
meta content="Lingu" name="application-name"
meta content="#2b5797" name="msapplication-TileColor"
meta content="#ffffff" name="theme-color"
