link rel="canonical" href=url
meta property="og:title" content=source.title
meta property="og:description" content=description
meta property="og:type" content="website"
meta property="og:image" content=source.image_url
meta property="og:url" content=request.original_url
meta property="og:canonical" content=url
meta property="og:updated_time" content=source.updated_at.iso8601