$black1: #2D2D3A;
$blue1: #00A5D7;
$grey1: #F0F0F3;
$grey3: #807F91;
$grey4: #5E5D71;
$grey5: #F5F5F8;
$grey6: #D8E2EF;
$grey7: #2D2C39;
$grey8: #EAECF1;
$grey9: #F6F6F6;
$grey10: #F3F3F8;
$grey11: #C8C7CE;
$red1: #F7513F;
$red2: #E63757;
$yellow1: #FFE6C9;
$yellow2: #F07E2B;
$green2: #39B64A;

$border-color: #E6E6F0;