.student-avatar {
  min-width: 36px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.student-avatar-fallback {
  @extend .student-avatar;
  background-color: #00a5d7;
  font-size: 14px;
  line-height: 12px;
  color: white;
}
.spinner-wrapper{
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  left: 0;
  top: 0;
  justify-content: center;
}
.tooltip.bs-tooltip-bottom .tooltip-inner{
  color: $black1;
}

.pagination.pagination-school {
  .page-item {
    .page-link {
      border: 0;
      color: #5E5D71;
      opacity: 0.5;

      &:hover {
        background: none;
      }
    }

    &.active .page-link {
      background: #F0F0F3;
      border-radius: 6px;
      opacity: 1;
      font-weight: bold;
    }

    .page-link-solid{
      opacity: 1;
      font-weight: bold;
    }
  }
}
