.school-profile-modal {
  .modal-content {
    min-width: 704px;
    min-height: 540px;
    padding: 0 !important;
  }
  .profile-sidebar {
    width: 200px;
    height: 540px;
    background: $grey9;
    border-radius: 16px;
    padding: 40px;
    ul {
      margin-left: -15px;
    }
    .nav-link {
      font-size: 14px;
      color: $black1;
      padding-bottom: 16px;
      &.active {
        font-weight: bold;
        color: $blue1;
      }
    }
    .status-badge {
      background: rgba(45, 45, 58, 0.1);
      border-radius: 4px;
      color: $grey3;
      font-size: 10px;
      font-weight: bold;
      height: 25px;
      padding: 5px;
    }
    .profile-title {
      color: $black1;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 40px;
    }
  }
  .profile-content {
    width: 504px;
    .tab-content {
      padding: 40px;
    }
    .upload-container{
      padding: 12px 0;
      .upload-image-field {
        position: relative;
        cursor: pointer;
        color: $blue1;
      }
      .upload-file {
        position: absolute;
        width: 65px;
        height: 20px;
        left: 0;
        opacity: 0;
        cursor: pointer;
      }
      .remove-action-field {
        label {
          margin-top: 5px;
          font-weight: normal !important;
        }
      }
      .upload-action-button, .remove-action-button{
        cursor: pointer;
        color: $blue1;
        font-size: 14px;
      }
      .preview {
        max-width: 170px !important;
        max-height: 60px !important;
        padding-left: 0;
      }
    }
    .gdpr-agreement {
      bottom: 30px;
      position: absolute;
      h5 {
        font-size: 16px;
        margin-bottom: 15px;
      }
      a {
        color: $blue1;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        margin-left: -5px;
      }
    }
    .enable-test-note {
      color: $black1;
      font-size: 16px;
      line-height: 24px;
      padding: 0 25px;
    }
    .agree-testing-service {
      color: $black1;
      font-size: 14px;
    }
    .enable-test-btn {
      padding: 10px;
      input {
        border-radius: 8px;
        font-size: 14px;
        padding: 12px;
        width: 170px;
      }
    }
    .test-module-toggle {
      display: flex;
      justify-content: space-between;
      text-align: left;
      h4 {
        font-size: 16px;
        font-weight: bold;
      }
    }
    .custom-control-label {
      font-size: 14px;
      padding-top: 4px;
    }
    .apps-header {
      h3 {
        font-size: 16px;
        font-weight: bold;
      }
      p {
        color: $black1;
        font-size: 16px;
        line-height: 24px;
      }
    }
    .apps-content {
      max-height: 280px;
      overflow-y: auto;
      padding-right: 5px;
    }
    .oauth-app-form {
      background: $grey10;
      border-radius: 8px;
      margin-bottom: 5px;
      padding: 10px;
      .form-control {
        background: white !important;
      }
      .secret-field {
        border-bottom-right-radius: 0 !important;
        border-top-right-radius: 0 !important;
        &:focus {
          outline: none !important;
        }
      }
      .remove-app-field {
        margin-bottom: -10px;
        text-align: right;
        a {
          color: $grey3;
          font-size: 16px;
        }
      }
      .sync-link {
        background: white;
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
        color: $grey11;
        font-size: 20px;
        font-weight: normal;
        height: 44px;
        padding: 7px;
      }
    }
    .app-save-btn {
      background: $grey10;
      border-radius: 8px;
      color: $black1;
      font-size: 14px;
      font-weight: bold;
      height: 44px;
      width: 185px;
    }
  }
}