div data-controller="student-edit-form"
  input.form-control.mb-2 type='text' data-target='student-edit-form.studentLanguageSelect' data-url=available_languages_school_students_path data-select_url=build_language_school_student_path(student) data-language_scope=scope autocomplete='off' placeholder=t('school.team_students.form.language_select_placeholder')