- if activity.owner == activity.trackable&.student
  = t('activerecord.attributes.activity.team_user.self_registered')
- else
  == t('activerecord.attributes.activity.team_student.create', team_name: activity.trackable.team.name, user_name: activity.owner.full_name)